[run]
branch = True
source =
    main
    routes
    services
omit =
    tests/*
    vendor/*
    */__init__.py

[report]
omit =
    tests/*
    vendor/*
    */__init__.py
show_missing = True
skip_covered = False
